<!DOCTYPE html>
<html>
  <head>
    <title><%= titulo %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= titulo %></h1>
    <p><%= __('Welcome to') %> <%= titulo %></p>
    <p><%= saludo %></p>

    <h2>Incluir una condición</h2>
    <% if (condicion.estado) { %>
      <p><%= condicion.segundo %> es par</p>
    <% } else { %>
      <p><%= condicion.segundo %> es impar</p>
    <% } %>

    <% users.forEach( user => { %>
      <p> <%= user.name + ' ' + user.age %></p>
    <% }) %>

  </body>
</html>
